!!!
%html{:lang => :zh}
  %head
    %title slider sample
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %link{:rel => 'stylesheet', :href => 'dist/css/ui.css'}

  %body
    .page-sample.sample2{:'data-over' => '0.6s'}
      .page-box
        .s2.header-bg

        .s2.logo{:'data-sr' => 'enter left'}
          %img{:src => 'http://img.teamkn.com/i/kO9mMbeF.png'}
          %span DeepBlue

        .s2.hello{:'data-sr' => 'move 0px scale up 50%'}
          %h2 HELLO.
          .s HOW CAN WE HELP YOU?

        .s2.section{:'data-sr' => 'enter left'}
          %h2 WE ARE
          .s a passionate group of thinkers, innovators, creatives, strategists, and technologists dedicated to creating impactful multi-platform solutions for meaningful brands. We are thought leaders in creating an entirely new User Experience with equal emphasis on desktop and mobile devices.

        .s2.section{:'data-sr' => 'enter left'}
          %h2 WE OFFER
          .s a core set of creative services to help improve the online visibility and impact of your business. Our capabilities range from custom websites with Responsive Web Design and robust CMS solutions to branding and marketing experiences, all with a deep focus on User Experience.

        .s2.section{:'data-sr' => 'enter left'}
          %h2 WE SUCCEED
          .s in providing our clients with a unique, comprehensive and engaging multi-platform and multi-device experience. Explore our site to see how we can help you increase customer acquisition and retention through the proper use of Responsive Web Design, Simplicity &amp; Storytelling.

        .s2.clients
          %h2{:'data-sr' => 'move 0px scale up 50%'} CLIENTS
          %img{:src => 'http://img.teamkn.com/i/vvOoNYKd.png', :'data-sr' => 'enter left roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/NqnreFG3.png', :'data-sr' => 'enter right roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/buRQZhhO.png', :'data-sr' => 'enter left roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/TIDw1w0g.png', :'data-sr' => 'enter right roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/zU30qqSs.png', :'data-sr' => 'enter left roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/rUaldM74.png', :'data-sr' => 'enter right roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/kF1JJM1V.png', :'data-sr' => 'enter left roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/DDw3ENRp.png', :'data-sr' => 'enter right roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/AvkptjQG.png', :'data-sr' => 'enter left roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/PMhKwTTN.png', :'data-sr' => 'enter right roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/bW6GY3KB.png', :'data-sr' => 'enter left roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/sxcKCjS4.png', :'data-sr' => 'enter right roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/XNwEIxeq.png', :'data-sr' => 'enter left roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/Qz4aKAGl.png', :'data-sr' => 'enter right roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/vLf7I8uP.png', :'data-sr' => 'enter left roll -30deg'}
          %img{:src => 'http://img.teamkn.com/i/aItLIisP.png', :'data-sr' => 'enter right roll -30deg'}

        .s2.numbers
          .n1
            .n{:'data-sr' => 'enter left'} 1999
            .s{:'data-sr' => 'enter right'} YEAR ESTABLISHED

          .n1
            .n{:'data-sr' => 'enter left'} 1000+
            .s{:'data-sr' => 'enter right'} HAPPY CUSTOMERS

          .n1
            .n{:'data-sr' => 'enter left'} 500+
            .s{:'data-sr' => 'enter right'} CMS-DRIVEN SITES

          .n1
            .n{:'data-sr' => 'enter left'} 100+
            .s{:'data-sr' => 'enter right'} RESPONSIVE WEBSITES

          .n1
            .n{:'data-sr' => 'enter left'} 30+
            .s{:'data-sr' => 'enter right'} AWARDS

          .n1
            .n{:'data-sr' => 'enter left'} 2
            .s{:'data-sr' => 'enter right'} GSA CONTRACTS

        .s2.awards
          %h2{:'data-sr' => 'move 0px scale up 50%'} AWARDS

          .aa
            .aw.a1{:'data-sr' => 'enter left'}
            .t{:'data-sr' => ' wait 0.2s, enter right'}
              .s BEST Web Design Agencies
              .s 2012
          .aa
            .aw.a2{:'data-sr' => 'enter left'}
            .t{:'data-sr' => ' wait 0.2s, enter right'}
              .s American Advertising Federation
              .s 2010
          .aa
            .aw.a3{:'data-sr' => 'enter left'}
            .t{:'data-sr' => ' wait 0.2s, enter right'}
              .s The Webby Awards
              .s 2012
          .aa
            .aw.a4{:'data-sr' => 'enter left'}
            .t{:'data-sr' => ' wait 0.2s, enter right'}
              .s NAGC
              .s 2012

        .s2.works
          %h2{:'data-sr' => 'move 0px scale up 50%'} WORK

          .ii.h{:'data-sr' => 'enter left'}
            .img.i1
          .ii{:'data-sr' => 'enter top'}
            .img.i2
          .ii{:'data-sr' => 'enter right'}
            .img.i3
          .ii{:'data-sr' => 'enter bottom'}
            .img.i4
          .ii{:'data-sr' => 'enter top flip 45deg'}
            .img.i5
          .ii{:'data-sr' => 'enter bottom roll 60deg'}
            .img.i6
          .ii{:'data-sr' => 'enter right scale up 80%'}
            .img.i7
          .ii{:'data-sr' => 'enter left spin -30deg'}
            .img.i8
          .ii.h{:'data-sr' => 'enter right flip 70deg'}
            .img.i12
          .ii.h{:'data-sr' => 'enter top spin -90deg'}
            .img.i10
          .ii{:'data-sr' => 'enter bottom roll 180deg'}
            .img.i11
          .ii{:'data-sr' => 'enter left scale down 50%'}
            .img.i9

    %script{:type => 'text/javascript', :src => 'lib/jquery-2.1.1.min.js'}
    %script{:type => 'text/javascript', :src => 'lib/scrollReveal.min.js'}
    %script{:type => 'text/javascript', :src => 'dist/js/ui.js'}