!!!
%html{:lang => :zh}
  %head
    %title slider sample
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %link{:rel => 'stylesheet', :href => 'dist/css/ui.css'}

  %body
    .page-sample.sample3
      .page-box
        .test-container
          .shaped
          .text foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar foo bar 

    %script{:type => 'text/javascript', :src => 'lib/jquery-2.1.1.min.js'}
    %script{:type => 'text/javascript', :src => 'lib/scrollReveal.min.js'}
    %script{:type => 'text/javascript', :src => 'lib/js-yaml.js'}
    %script{:type => 'text/javascript', :src => 'dist/js/ui2.js'}